In [18]:
# Import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3
import os
import sys
import requests

In [19]:
# Download database from github repository
historical_url = "https://raw.githubusercontent.com/CSE-115-UCSC/penny-stock-lstm/main/historicaldata.db"
scrape_request = requests.get(historical_url)

try:
  # Contingent on request status
  scrape_request = requests.get(historical_url)
  scrape_request.raise_for_status()

  # Create local database from pull, name 'historicaldata.db'
  with open("historical.db", "wb") as db_file:
    db_file.write(scrape_request.content)

  sys.stderr.write("Request to download database succeeded")


except:
  # Report failed request status
  sys.stderr.write("Request to download database failed")

Request to download database succeeded

In [20]:
# Connect to SQlite database
try:
  db = 'historical.db'
  sqliteConnection = sqlite3.connect(db)
  cursor = sqliteConnection.cursor()
  print(f'SQlite connected with {db}')

except:
  sys.stderr.write("Failed to connect to database")

SQlite connected with historical.db

In [21]:
# Test connection query
try:
  query = "SELECT COUNT(*) FROM all_historical;"
  cursor.execute(query)
  print(cursor.fetchall())

except:
  sys.stderr.write("Failed to execute query")

[(296751,)]

In [22]:
# Test first lines of all_historical table query
try:
  query = "SELECT * FROM all_historical LIMIT 5;"
  cursor.execute(query)
  print(cursor.fetchall())

except:
  sys.stderr.write("Failed to execute query")

[(1, 'ACHR', 269, 3.0307, 3.0301, 3.03, 3.0301, 3.03, 1657643400000, 4), (2, 'ACHR', 2037, 3.0362, 3.04, 3.04, 3.04, 3.035, 1657643700000, 35), (3, 'ACHR', 796, 3.0364, 3.04, 3.035, 3.04, 3.035, 1657644000000, 17), (4, 'ACHR', 1795, 3.0356, 3.035, 3.035, 3.04, 3.035, 1657644300000, 19), (5, 'ACHR', 10397, 3.0286, 3.035, 3.025, 3.035, 3.0212, 1657644600000, 87)]

In [23]:
# Showcase of every unique stock ticker in all_historical
try:
  query = "SELECT DISTINCT ticker FROM all_historical;"
  cursor.execute(query)
  print(cursor.fetchall())

except:
  sys.stderr.write("Failed to execute query")

[('ACHR',), ('SOUN',), ('BITF',), ('GSAT',), ('PLUG',), ('IAG',), ('CHPT',), ('PSNY',), ('BTBT',), ('AAU',), ('CDAK',), ('CIDM',), ('QNCX',)]

In [24]:
# Test print number of stock entries of "Plug" within all_historical table
try:
  query = "SELECT COUNT(*) FROM all_historical WHERE ticker = 'PLUG';"
  cursor.execute(query)
  print(cursor.fetchall())

except:
  sys.stderr.write("Failed to execute query")

[(35016,)]